<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
</head>
<body>
    <h1>Emotion Detection</h1>
    <img id="videoElement" width="640" height="480" src="{{ url_for('video_feed') }}" alt="Emotion Recognition">
    <p id="emotion"></p>

    <button id="startButton">Start</button>
    <button id="stopButton">Stop</button>

    <script src="script.js"></script>
</body>
</html>
